# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# mac
.DS_Store

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.DS_Store
.vscode

# Files from Forge MDK
forge*changelog.txt
